.DrawBoard{
    background-color: #333333;
    margin-top: 3%;
    margin-bottom: 5%;
    padding:5%;
    width:80vw;
    border-radius: 20px;
}

.CanvasStyle{
    margin: 5%;

}

.ScaryStyleFontDraw{
    font-family: 'Creepster', cursive;
    color:white;
    font-size: 6vw;
  }

  .ScaryStyleFontDrawSub{
    font-family: 'Creepster', cursive;
    color:white;
    font-size: 3vw;
  }